body{margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
h2 {margin: 0 20px;
    display: inline;
}
i {font-size: 25px;}
nav {background-color: #F47340;
    margin: 0;
    width:100%;
}

.container {width:80%;
    margin: 30px auto;
}
fieldset {border-color: #F9D371;}

table{border:1px solid;
    margin: 30px auto;
}

th {border: 1px solid;
    background-color: #F9D371;
    padding: 10px;
}
td {border: 1px solid;
    padding: 10px;
}